#Rus solution-----------------------------------------------
Options -Indexes
Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{REQUEST_URI} ^/admin$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin\/?(.*) /backend/$1
RewriteCond %{REQUEST_URI} ^/admin/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin\/?(.*) /backend/$1

RewriteCond %{REQUEST_URI} !^/(backend|admin)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) /frontend/$1

RewriteCond %{REQUEST_URI} ^/frontend
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.+)$ /frontend/index.php?url=$1

RewriteCond %{REQUEST_URI} ^/backend
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.+)$ /backend/index.php?url=$1
