
*{
  margin: 0;
  padding: 0;
 
}
#particles-js{
 
  background: linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0,0.5)), url('../background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;

}

.form{
  position: absolute;
  width: 350px;
  height: 430px;
  background-color: rgba(0,0,0,0.6);
  margin-top: 15em;
margin-left: 38%;
}
i{
  font-size: 90px;
  color:#fff;
}
.form-inner{
  padding-top:40px;
  margin-left: 45px;
}
@media (max-width: 600px) { 
  .form{
    margin-left:15%;
  }
 }
label{
  color:#fff;
}
input{
  width:220px;
  height:30px;
  border-radius: 20px;
  background: rgb(23, 26, 49);
  border:none;
  color:#fff;
  padding-left:20px;
  font-size: 14px;
  outline: none;
  
}
.space{
  margin-top:10px;
}
.submit-btn{
  width: 250px;
  margin-top: 30px;
  border-radius: 20px;
  border: none;
  height:35px;
  background: rgb(80, 48, 221);
  color:#fff;
  text-align: center;
  cursor: pointer;
}
.submit-btn:hover{
  background: #fff;
  color:#000;
}
.line{
  background: rgb(80, 77, 77);
  margin-top: 30px;
  margin-left: 45px;
  width: 250px;
  height: 1px;
}
a{
  text-decoration: none;
  color:#fff;
}
.vr {
margin-top: 20px;
margin-left: 110px;
  
}
a:hover{
  color:rgb(84, 24, 182);
 
}
h1{
  color:#fff;
  text-align: center;
  padding-top:30px;
}
span{
  color:rgb(84, 24, 182);
}